:root {
  --text-color: hsl(215, 51%, 70%);
  --line-color: hsl(215, 32%, 27%);

  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --cyan: hsl(178, 100%, 50%);
  --white: hsl(0, 0%, 100%);
}
